/* CSS Document for Screens */

/*Using open sans font for the entire page. Imported the font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Nosifer|Open+Sans');

body{font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 300;color: #555;margin: 0 auto;padding: 0;max-width: 1920px;background-color: #e9ebee;}
.page {max-width: 1920px;}
header{margin: 0;padding: 0;width: 100%;position: relative;}

/* Text */
h1 {text-align: center;color: midnightblue;font-family: -webkit-pictograph;text-transform: uppercase;}
h2 {font-size: 2em;text-align: left;font-family: -webkit-pictograph;color: navy;text-transform: uppercase;}
h6 {margin: 0.5em 0 0.8em 0;font-size: 1.1em;font-style: italic;font-family: sans-serif;}
a {color: indigo;text-decoration: none;}


.dynamic{font-family: serif;text-transform: uppercase;font-weight: bold;color:#4267b2;}
.login-container {width:100%;}
.login-container .content {padding: 10px 35%;}

input[type="text"] {padding: 10px 20px;width: 50%;margin-left: 22%;box-sizing: border-box;outline:none;}
input[type=text]:focus {border: 3px solid #4267b2;}
input[type="button"] {display: inline-block;width: 15vw;background-color: #4267b2;border: none;color: white;padding: 16px 32px;text-decoration: none;margin: 10px 2px;cursor: pointer;font-size: 1.2em;margin-left: 40%;}

.user-message {padding: 15px 15px;margin: 0 25px;margin-top: 25px;}
.error {border: 2px solid red;box-shadow: -10px 0px 10px 1px red;border-radius: 10px;background-color: #fbd9df;}
.success {border: 2px solid green;box-shadow: -10px 0px 10px 1px green;border-radius: 10px;}
img#loading-icon {display: inline;}
div#next, .button {cursor: pointer;border: 1px solid transparent;display: inline-block;padding: 10px;background-color: #4267b2;color: #fff;font-weight: bold;margin-left: 45%;margin-top: 5px;}
div[class^="feed-"]{border:1px solid black;padding: 1vw 5px;margin-bottom:10px;}
.fb-container{	display: none;	max-width: 1920px;}
.feed {position: relative;width: 80%;margin-left: 10%;padding: 5px;}
.story {margin: 0 auto;float: left;font-weight: bold;padding: 0 2vw;color: #4267b2;}
.posted-time {position: relative;display: flex;justify-content: flex-end;}
.likes {background-image: url('../images/like.svg');background-repeat: no-repeat;background-size: 50px 40px;padding: 0.5vw;display: flex;margin-left: 1.4vw;}
.likes span {display: block;margin-left: 3vw;font-size: 1.4em;}

.message {display: flex;justify-content: initial;margin-top: 5px;font-size: 1.3vw;margin-left: 6px;}

img.image {max-width: 40vw;display: flex;margin-top: 1vw;margin-left: 27%;}
.picture {position: relative;display: flex;justify-content: flex-end;margin-right: 15px;}

.picture img {width: 128px;height: 128px;-webkit-border-radius: 64px;-moz-border-radius: 64px;border-radius: 64px;background: url('../images/default-profile-photo.png');background-repeat: no-repeat;}
.fb-container h3{position: absolute;width: 15%;text-align: left;font-size: 1.5em;margin-left: 5vw;margin-top: 11vw;}
.profile-info .picture {display: flow-root;padding: 6px;text-align: left;margin-left: 2vw;font-weight: 600;top: 5vw;position: absolute;left: 5vw;}

section.feed > div:nth-of-type(odd) {background: #fff;}
section.feed > div:nth-of-type(even) {background: #fff;}
.helper {display: flex;justify-content: center;margin-right: 5%;}

.helper p {display: none;}

.helper a {text-decoration: underline;cursor: pointer;color: blue;}

.helper a:hover p {display: block;position: absolute;color: #555;background: #fff;padding: 5px 5px;border-radius: 6px;}
.profile-info p {display: flow-root;padding: 5px 10px;margin-left: 25vw;}

div#user-photos {position: relative;}
.page {max-width: 1920px;}
#back-to-top {display: none; position: fixed; bottom: 2px; right: 0.1vw; z-index: 99; border: none; outline: none;color: white; cursor: pointer;padding: 15px 2px; border-radius: 10px;}

/*Mobile screens styles goes here*/
@media screen and (max-width: 768px), screen and (max-device-width: 768px){

	section.profile-info {display: flow-root;}

	div#user-photos::after {content: '';clear: both;display: block;}

	.profile-info .picture {position: relative;top: 0;display: flow-root;justify-content: center;text-align: center;width: 100%;padding: 0;left: 0;}

	.profile-info p {position: relative;display: flow-root;text-align: left;margin-left: 15vw;}
	.posted-time {display: none;}

	.message {display: block;font-size: 0.7em;}

	.likes span {margin-left: 45px;}
	.button {margin-left: 30%;}
	.login-container .content {padding: 10px 2%;display: flex;justify-content: center;}
	input#submit {width: 120px;display: flex;justify-content: center;text-align: center;margin: 0 auto;margin-top: 10px;}
	input[type="text"] {width: 60vw;}
}